body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #14c8bc;
    text-align: center;
}

h1 {
    color: #333;
}

.product-section {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    margin: 10px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(186, 12, 12, 0.85);
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product p {
    font-size: 18px;
    font-weight: bold;
}

.product a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #28a745;
    color: rgb(177, 10, 10);
    text-decoration: none;
    border-radius: 5px;
}

.product a:hover {
    background-color: #218838;
}
